#aboutDiv {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 25px;
    margin: 5px;
    gap: 10px;
}



#textingDiv {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
}

@media screen and (min-width: 100px) {
    #profilePhoto {
        height: 150px;
        width: auto;
    }
}

/* Small screen */
@media screen and (min-width: 250px) {
    #profilePhoto {
        height: 250px;
        width: auto;
    }
}

@media screen and (min-width: 992px) {
    #profilePhoto {
        height: 500px;
        width: auto;
    }
}