
/* back to the top - button */

.hidden {
    display: none;
}

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    scale: 3;
    cursor: pointer;
    animation: fadeInToRight 0.6s ease-in-out;
    /* Keyframe animation */

}

.back-to-top:hover {
    color: #0081C9;
}

@keyframes fadeInToRight {
    from {
        opacity: 0;
        /* transform: translateY(-30px); */
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}