

/* Dropdown menu ---------------------------------------- */

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    border-radius: 20%;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}



/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    /* position: absolute; */
    display: none;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    animation: growDown 450ms ease-in-out forwards;
    transform-origin: top center;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu */
.show {
    display: block;
}

/* animation */
@keyframes growDown {
    0% {
        transform: scaleY(0)
    }

    80% {
        transform: scaleY(1.1)
    }

    100% {
        transform: scaleY(1)
    }
}

/* ---------------------------------------------------------- */