/* Cards css */

.coinCard {
    width: 150px;
    height: auto;
    background-color: white;
    margin: 20px;
    padding: 15px;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    color: rgb(67, 83, 83);
}

.coinCard:hover {
    box-shadow: 5px 5px 5px #4B429F;
}

#cardsResponse {

    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}

.coinCard,
#cardsResponse {
    font-family: divFont;
}

/* Fonts */

@font-face {
    font-family: divFont;
    src: url(./Assets/fonts/Questrial-Regular.ttf);
}

/* ImgDiv */
.myImgDiv {
    width: 80%;
    height: 80%;
    border-radius: 50%;

}

.myImgDiv:hover {
    box-shadow: 5px 5px 5px #6e6c7c;

}

/* dark mode */
body {
    background-color: white;
    color: #373737;
    transition: all .3s ease;
}


.darkMode {
    color: white;
    background-color: #373737;
}

.darkModeBtn {
    cursor: pointer;
}

.darkModeDiv {
    background-color: violet;

}