/* Cards css */

.coinCard {
    width: 180px;
    height: auto;
    background-color: white;
    margin: 20px;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    color: rgb(67, 83, 83);
}

.coinCard:hover {
    box-shadow: 5px 5px 5px #4B429F;
}

#cardsResponse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.coinCard,
#cardsResponse {
    font-family: divFont;
}

/* Fonts */

@font-face {
    font-family: divFont;
    src: url(./Assets/fonts/Questrial-Regular.ttf);
}

/* ImgDiv */
.myImgDiv {
    width: 80%;
    height: 120px;
    border-radius: 50%;

}

.myImgDiv:hover {
    box-shadow: 5px 5px 5px #6e6c7c;
}


.mainChartBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0081C9;
    margin-right: 30px;
}
.canvasStyle {
    width: 100%;
    height: 100%;
}

.canvasSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homePageContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.footer {
    text-align: center;
    font-family: divFont;
}